# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90
rsync_exclude
namelist.output
*.log

Registry/Registry
Registry/io_boilerplate_temporary.inc
external/esmf_time_f90/ESMF_Alarm.f
external/esmf_time_f90/ESMF_AlarmClock.f
external/esmf_time_f90/ESMF_Base.f
external/esmf_time_f90/ESMF_BaseTime.f
external/esmf_time_f90/ESMF_Calendar.f
external/esmf_time_f90/ESMF_Clock.f
external/esmf_time_f90/ESMF_Fraction.f
external/esmf_time_f90/ESMF_Mod.f
external/esmf_time_f90/ESMF_Stubs.f
external/esmf_time_f90/ESMF_Time.f
external/esmf_time_f90/ESMF_TimeInterval.f
external/esmf_time_f90/Meat.f
external/esmf_time_f90/module_symbols_util.f
external/esmf_time_f90/module_utility.f
external/io_int/diffwrf.f
external/io_int/io_int.f
external/io_int/io_int_idx_tags.h
external/io_int/module_internal_header_util.f
external/io_int/module_io_int_idx.f
external/io_int/module_io_int_read.f
external/io_int/test_io_idx
external/io_int/test_io_idx.f
external/io_netcdf/diffwrf
external/io_netcdf/diffwrf.f
external/io_netcdf/field_routines.f
external/io_netcdf/module_wrfsi_static.f
external/io_netcdf/wrf_io.f
frame/md_calls.inc
frame/module_dm.F
frame/module_state_description.F
inc/actual_args.inc
inc/actual_new_args.inc
inc/allocs.inc
inc/check_auxstream_alarms.inc
inc/config_assigns.inc
inc/config_reads.inc
inc/deallocs.inc
inc/dummy_args.inc
inc/dummy_decl.inc
inc/dummy_new_args.inc
inc/dummy_new_decl.inc
inc/fine_stream_input.inc
inc/i1_decl.inc
inc/in_use_for_config*.inc
inc/io_form_for_dataset.inc
inc/io_form_for_stream.inc
inc/med_auxinput_in.inc
inc/med_auxinput_in_closes.inc
inc/med_find_esmf_coupling.inc
inc/med_hist_out_closes.inc
inc/med_hist_out_opens.inc
inc/med_last_solve_io.inc
inc/med_open_esmf_calls.inc
inc/model_data_order.inc
inc/module_io_domain_defs.inc
inc/namelist_defaults.inc
inc/namelist_defines.inc
inc/namelist_defines2.inc
inc/namelist_nametest.inc
inc/namelist_script.inc
inc/namelist_statements.inc
inc/nest_feedbackup_interp.inc
inc/nest_feedbackup_smooth.inc
inc/nest_forcedown_interp.inc
inc/nest_forcedown_interp_vert.inc
inc/nest_interpdown_interp.inc
inc/nest_interpdown_interp_vert.inc
inc/nl_config.inc
inc/scalar_derefs.inc
inc/scalar_indices.inc
inc/scalar_indices_init.inc
inc/scalar_tables.inc
inc/scalar_tables_init.inc
inc/set_timekeeping_alarms.inc
inc/set_timekeeping_defs.inc
inc/shutdown_closes.inc
inc/state_struct.inc
inc/state_subtypes.inc
inc/switches_and_alarms.inc
inc/wrf_bdyin.inc
inc/wrf_bdyout.inc
inc/wrf_io_flags.h
inc/wrf_status_codes.h
inc/write_ddt.inc
run/input_sounding
run/namelist.input
test/em_squall2d_y/README.namelist
tools/fseeko64_test
tools/fseeko_test
tools/gen_comms.c
tools/registry



